<body
	class='relative min-h-screen bg-gradient-to-tr from-indigo-100 to-indigo-300 dark:bg-gradient-to-tr dark:from-neutral-900 dark:to-pink-900 text-neutral-900 dark:text-gray-300 break-words leading-6 transition-all duration-500 font-heebo'
	><slot />
</body>
