---
export interface IProject  {
  title: string,
  link: string,
  image: string
}

const {title, link, image} = Astro.props
---

<section class="">
  <h2 class="p-5 text-center">{title}</h2>
  <div>
    
  </div>
</section>
