---
import BaseHead from "../components/astro/BaseHead.astro";
import Body from "../components/astro/Body.astro";
import Footer from "../components/astro/Footer.astro";
import Header from "../components/astro/Header.astro";
import MainContent from "../components/astro/MainContent.astro";
import ThemeToggle from "../components/tsx/ThemeToggleButton";
import { SITE_DESCRIPTION, SITE_TITLE } from "../config";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <Body>
    <Header title={SITE_TITLE} />
    <main class="pt-20 font-heebo">
      <MainContent>
        <section>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum ex
          quis aut laborum cumque, sunt modi illum iure eius, nihil impedit
          molestiae reprehenderit aliquam mollitia, explicabo dolor error quo
          amet? Corrupti blanditiis incidunt in earum praesentium? Nemo
          repellendus a maxime aut sint expedita, asperiores provident quas
          ipsam nihil nam, porro in ducimus voluptate odio ea quasi! Alias
          delectus qui voluptate. Sint facere sapiente, id molestias minima
          impedit? Dignissimos animi sapiente explicabo provident architecto,
          maxime quidem atque eum at fugiat rerum nisi. Asperiores ea sapiente
          voluptatem sunt, excepturi provident deserunt sint. Deleniti vero
          dicta vitae repudiandae aperiam rerum quae deserunt vel quas accusamus
          inventore officiis libero odio reiciendis atque eius maxime quibusdam
          nulla perferendis, ducimus, facere neque illum beatae? Officia, ipsam.
          Omnis ab ad eos doloremque nulla consequatur corporis maiores, dolorem
          praesentium aut quo laborum quasi deleniti amet reprehenderit quos
          animi id rem architecto tempore sit voluptatibus debitis. Atque, ad
          voluptatum? Officia debitis tenetur esse repellendus. Quas corrupti
          sit necessitatibus repudiandae omnis, ullam illo quidem dolores autem
          distinctio magni sint atque odit nobis! Aut labore consequatur ratione
          id recusandae deserunt debitis? Eligendi nisi facilis dignissimos
          possimus incidunt. Quod adipisci obcaecati dolores cupiditate?
          Recusandae sit repellat officiis ducimus modi quos! Voluptates
          officiis saepe veniam corrupti. Cum accusantium nihil dicta veniam
          eaque fugit. Optio odio assumenda quos dicta eveniet amet similique
          natus, repellat enim, deserunt hic sunt, obcaecati accusamus
          perspiciatis fugiat. Quia, reiciendis illo! Nulla porro voluptate
          provident in nihil, placeat vel veritatis? Voluptas quod expedita
          delectus consequatur fugiat esse provident debitis quidem tenetur
          cupiditate, laudantium veritatis nostrum vel exercitationem sit
          perferendis doloribus labore veniam iste nihil. Architecto provident
          ullam deserunt voluptatem debitis. Odit quam dolorem alias, quidem
          enim obcaecati saepe accusantium quaerat, numquam tempora eos
          repudiandae rerum corrupti, nisi ducimus debitis. Exercitationem,
          dicta magni voluptate vitae expedita sunt atque corrupti corporis
          esse. Fugiat aliquid labore veniam repudiandae, itaque aut sit beatae
          exercitationem omnis quod qui excepturi consequuntur dicta ducimus,
          unde consequatur dolore, deleniti nisi. Neque asperiores voluptas
          distinctio porro, inventore nostrum reprehenderit. Odit magnam ullam
          harum consequatur laudantium illum cumque aliquam in illo rem officiis
          quis quas, voluptatum corrupti sequi ad expedita impedit excepturi?
          Consectetur quis eos necessitatibus, beatae aspernatur veritatis
          dolorum! Voluptates dignissimos, laudantium facilis sit adipisci,
          minus dicta unde cumque a perferendis necessitatibus quibusdam commodi
          iste rerum soluta atque nam pariatur! Sed amet magni praesentium a
          deleniti alias, voluptas soluta? Dolorem delectus, quo earum nemo fuga
          quam maiores, hic doloribus animi perferendis numquam recusandae
          blanditiis nisi assumenda praesentium provident. Amet eveniet omnis
          maiores molestias id eligendi voluptatem odit explicabo incidunt! Odio
          velit voluptatibus dolorem quia ab enim, eos assumenda commodi beatae
          aliquam sed amet! Saepe, vero! Perferendis cum minima, quia natus
          sequi dolore fuga animi, nulla repudiandae quisquam quaerat in. Saepe,
          dolores amet omnis aut est accusantium deleniti molestias consectetur
          praesentium, dolorum ratione ut beatae sapiente! Error possimus quam
          quia quibusdam dolorum reiciendis rem? Distinctio impedit facere
          deleniti sequi architecto? Quam quas veritatis aliquam sapiente
          minima, accusamus perspiciatis nobis non, atque nostrum corrupti enim
          ullam? Labore aut repudiandae tenetur hic possimus eum autem dolorem
          illo molestiae tempora. Sunt, excepturi voluptate! Veniam molestiae
          optio in tempore consequuntur quia saepe! Aspernatur, eaque,
          dignissimos architecto minima tenetur neque voluptatem nostrum eos
          ullam tempore natus, aut odit voluptates facilis deleniti nulla!
          Dolores, ad dolorum. Voluptatem quia suscipit reiciendis distinctio
          dolore nam asperiores doloremque quidem aspernatur. Enim hic, laborum
          molestiae ipsa obcaecati veritatis explicabo placeat magni totam,
          facilis at! Facilis dolor rem cumque aliquid nisi! Reprehenderit
          commodi nobis nemo facere mollitia itaque distinctio amet ipsum iste
          magni eveniet, possimus praesentium, dolore veritatis nulla sapiente
          ex enim quasi vero laudantium officiis tenetur. Tenetur exercitationem
          facere et. Exercitationem fugiat, cumque similique animi consequuntur
          necessitatibus quis vel consectetur dolores eum excepturi blanditiis
          placeat alias! Aspernatur voluptate asperiores, perspiciatis delectus
          perferendis similique sed soluta rerum modi pariatur quibusdam
          repudiandae? Magnam facilis earum corporis assumenda vero et deleniti,
          placeat eum at distinctio obcaecati accusamus officiis quasi magni
          pariatur quidem dolor qui sequi. Ab velit ducimus ipsa labore non
          voluptatem laudantium! Aperiam quos nihil sit laboriosam corporis
          alias quae nostrum maiores praesentium temporibus, voluptatibus id
          commodi mollitia nemo dignissimos quod amet tempora architecto laborum
          reiciendis facilis ratione? Blanditiis beatae deleniti culpa. Ratione
          fugit debitis sed inventore molestias. Omnis ipsa architecto sit eos
          beatae optio earum sapiente! Facere nobis, provident assumenda
          consequatur, dolores deserunt, ratione ut eveniet deleniti similique
          consectetur mollitia eum? Sint dolorum est rerum, debitis perferendis
          id. Pariatur, est natus reprehenderit tempora iusto, voluptatum omnis
          perferendis, neque incidunt libero fugiat debitis modi. Sapiente
          soluta libero unde aliquam repellendus, fugit quisquam. Deserunt sunt
          quae incidunt fuga, ad, dolorum ut consequatur expedita recusandae
          inventore praesentium totam veniam nihil. Accusamus nesciunt
          consectetur, ratione debitis dicta dolores, nam eveniet quibusdam
          doloremque hic fugit tempore? Odit incidunt consectetur quaerat
          exercitationem repudiandae molestiae soluta quasi laborum voluptatibus
          aliquid ipsum suscipit necessitatibus quas quia, dolor minus aliquam
          quo architecto porro, provident vel aperiam fugiat perferendis? Ullam,
          voluptatibus? Facere aliquam at possimus quia sint voluptates
          temporibus quas dicta, veniam minima quidem eos doloribus voluptas
          impedit alias iure iste debitis nulla fugiat. Minima ea, quaerat
          dolores maiores ut deleniti. Laborum, veritatis reiciendis est
          reprehenderit aliquam perspiciatis a, voluptatem sunt ratione deleniti
          odio fugit molestias, nisi iusto repudiandae maiores. Blanditiis,
          accusantium? Consequuntur, odit quis culpa nulla velit inventore non
          sint? Consequuntur iusto incidunt, aperiam, ea rerum dolorum impedit
          reiciendis voluptatibus quis necessitatibus ratione quod corrupti
          debitis laboriosam voluptatum quasi odit soluta facere inventore cum
          porro non optio. Magni, vitae cum! Minus illum neque autem commodi
          necessitatibus atque perferendis sit ipsam omnis sed. Reiciendis
          nostrum, odit error unde quibusdam nobis quam temporibus iste dicta
          suscipit earum modi. Quae velit et nisi. Voluptatum laboriosam
          provident nobis sint necessitatibus possimus qui tempora quisquam
          quis, eos, exercitationem pariatur veniam dignissimos atque,
          temporibus magnam? Ipsa laudantium voluptas sint voluptatem ad qui
          debitis eos illum? Culpa! Architecto debitis sit iure ipsa illo modi
          repudiandae corporis quasi dolorem, deserunt omnis similique
          doloribus, earum recusandae. Molestias consectetur, assumenda incidunt
          provident, dolor animi laboriosam possimus unde ex, perferendis fugit.
          Atque itaque officiis mollitia eaque totam aut vel eos earum
          cupiditate nostrum quod ipsum corporis, pariatur id doloremque! Illum
          architecto incidunt fugiat similique recusandae iste expedita possimus
          soluta cum maiores! Officia aut officiis reprehenderit commodi
          repellendus animi exercitationem. Quo dolore accusantium ratione
          voluptatum iure possimus quisquam, deserunt at neque magnam doloribus
          culpa deleniti voluptatibus perferendis eius iusto accusamus commodi
          esse. Accusamus, consequatur omnis doloremque eos magni nobis tempora!
          Vero sunt exercitationem quos quo ratione numquam, repellat, placeat
          velit porro nisi aspernatur animi explicabo provident, adipisci
          voluptate itaque sed alias recusandae. Iure mollitia deserunt cumque
          quisquam doloremque temporibus magni nisi ducimus commodi, illum est
          facilis praesentium quaerat nobis harum exercitationem possimus
          veritatis neque dolorum quasi labore rerum, tenetur dolor quidem.
          Harum. Rerum suscipit reprehenderit assumenda perspiciatis cumque
          ratione, iste deleniti voluptatibus quia quibusdam ea delectus minus
          similique error molestiae dolorum ullam, atque neque! Officia commodi
          quas doloremque, culpa quo dolores in. Vitae iusto, obcaecati eum qui
          nemo enim ducimus alias autem aliquid consequatur voluptatem facere
          natus blanditiis nam eius odit animi ipsa consectetur velit dolor!
          Facilis a consequatur possimus aliquam omnis! Iure asperiores aperiam
          earum soluta itaque est, enim molestias quia sunt repudiandae
          distinctio provident neque veritatis quisquam unde tempore ab dolores
          aut et? Voluptate eaque laudantium vitae quod optio natus! Voluptate
          quis dolorem libero eos eveniet autem sunt, saepe neque suscipit
          doloribus, quaerat quam quas voluptatibus beatae magnam consequatur
          perspiciatis nam dolore aperiam, tempore fugit? Officiis ratione vel
          recusandae veniam? Nesciunt aliquid a, voluptas quam adipisci
          assumenda. Quibusdam voluptatum saepe maiores amet provident
          accusantium, totam repellendus, nemo illo soluta alias eligendi, ut
          dicta culpa est at ab eos nisi atque. Eum ipsam rem non maxime numquam
          vero earum ipsum dignissimos inventore rerum a quae quaerat fugit
          labore assumenda, quos nostrum blanditiis hic laborum commodi cum
          repellat. Cumque veritatis vitae voluptatibus. Velit quibusdam eum
          dignissimos sunt ipsa unde veniam exercitationem doloribus repellat, a
          nostrum voluptatibus nam placeat sapiente? Ullam dignissimos illum
          repellendus modi nulla voluptates ea eos impedit, tempora totam
          debitis? Ab veritatis, non maxime unde vel nihil architecto. Eveniet
          voluptate voluptatem laborum unde veniam numquam labore ipsam eaque
          culpa. Fuga quia repellendus voluptate error eum recusandae nostrum
          placeat possimus mollitia? Ab quas ipsam placeat aliquid culpa?
          Debitis alias numquam at cupiditate tempora! Reiciendis ullam fugit
          delectus ratione nesciunt, nisi cum, corrupti facilis animi sapiente
          cumque praesentium! Rem, magni? Quam, magnam! Illo a in quod minima
          soluta voluptatibus velit obcaecati, officiis, magnam nesciunt et
          reiciendis sed molestiae saepe! Debitis ipsum magnam labore, harum
          nobis ducimus soluta fugit? Sapiente, cupiditate eaque? Maiores. Illo
          blanditiis molestiae iste commodi vitae officiis id debitis aperiam
          beatae voluptatibus, voluptas reiciendis nisi facere. Adipisci
          voluptate fugit maiores incidunt quas, odit eum in inventore, quo,
          nisi animi officia! Voluptatum voluptatibus deserunt voluptates harum
          eligendi laborum rerum cupiditate animi, molestiae veniam quis
          blanditiis, provident iste perferendis dolorem necessitatibus dolore
          sequi officiis, est repellat! Eveniet obcaecati neque fugiat
          repudiandae minus? Tempore nulla doloremque perspiciatis amet
          assumenda suscipit voluptatum est iusto cupiditate error? Labore
          voluptatem fuga exercitationem vero deserunt explicabo dolor, incidunt
          expedita non nisi officia quod quaerat aspernatur accusamus
          perferendis.
        </section>
      </MainContent>
    </main>
    <Footer />
    <ThemeToggle client:load />
  </Body>
</html>
