---
import HeaderLink from './HeaderLink.astro'
import { IoLogoGithub } from 'react-icons/io'
import ThemeToggle from './ThemeToggleButton';
---

<header class="fixed w-full p-2 z-20 font-bold">
  <div class="mx-auto max-w-3xl">
    <nav
      class="flex py-7 justify-between items-center gap-3 text-base border-b border-b-black border-opacity-25"
    >
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/about">About me</HeaderLink>
      <HeaderLink href="/projects">Projects</HeaderLink>
      <HeaderLink href="/contacts">Contacts</HeaderLink>
      <HeaderLink href="https://github.com/octagony" target="_blank">
        <IoLogoGithub />
        GitHub
      </HeaderLink>
    </nav>
  </div>
</header>
