---
import HeaderLink from './HeaderLink.astro'
import { IoLogoGithub } from 'react-icons/io'
import DropdownMenu from './DropdownMenu';
---

<header class="fixed bg-gradient-to-tr from-indigo-200 to-indigo-100 dark:bg-gradient-to-tr dark:from-neutral-900 dark:to-pink-900 w-full p-2 z-20 font-bold dark:bg-neutral-900">
  <div class="mx-auto max-w-3xl">
    <nav
      class="flex py-2 justify-between items-center gap-3 text-base"
    >
      <div class="hidden md:flex md:justify-between w-full">
        <HeaderLink href="/">Home</HeaderLink>
        <HeaderLink href="/about">About me</HeaderLink>
        <HeaderLink href="/projects">Projects</HeaderLink>
        <HeaderLink href="/contacts">Contacts</HeaderLink>
        <HeaderLink href="https://github.com/octagony" target="_blank">
          <IoLogoGithub />
            GitHub
        </HeaderLink>
      </div>
      <div class="md:hidden">
        <DropdownMenu client:visible/>
      </div>
    </nav>
  </div>
</header>
